.button{
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1980px){
    .button{
        display: block;
    }
    .button__uno:hover{
        background: violet;
        
    }
    .button__dos:hover{
        background: turquoise;
    }
    
        

}