/*configuracion de los botones*/
.button{
    display: none;
}

@media only screen and (min-width: 900px) and (max-width: 1980px){
    .button{
        display: block;
    }
    .button__uno{
        background: $boton-1;
        color: white;
        &:hover{
            background: violet;
            cursor: pointer;
        }
        
    }
    .button__dos{
       background: $boton-2;
       &:hover{
           background: turquoise;
           cursor: pointer;
       }
    }
    
        

}