.hero-section{
    background-image: url(../img/image-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

// aplicar media queries

@media only screen and (min-width: 768px) and (max-width: 1980px){
    .hero-section{
        background-attachment: fixed;
        height: 550px;
    }
}