.profile{
    padding: 1.5625rem 0px;
    display: flex;
    justify-content: center;
align-items: center;
    .profile__image{
        border-radius: 50%;
        width: 6.25rem;
        height: 6.25rem;
    }
    .profile__usuario{
        p{
           margin: 0px;
           padding-left: 1.25rem;
        }
        
        
    }
}


@media only screen and (min-width: 900px) and (max-width:1980px){
    #perfil{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 9.375rem;
    }
}