.profile{
    padding: 25px 0px;
    display: flex;
    justify-content: center;
align-items: center;
    .profile__image{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    .profile__usuario{
        p{
           margin: 0px;
           padding-left: 20px;
        }
        
        
    }
}


@media only screen and (min-width:768px) and (max-width:1980px){
    #perfil{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 60px;
    }
}