// tipografia de logo
.logo{
    display: flex;
    .logo__titulo{
        font-size: 3.125em;
        font-weight: $logo-weight;
        margin: 0px;
    }
    .logo__registro{
        padding-top: 10px;
    }
}

// cambio de color para no afectar el important de color en el navbar
.logo__registro--color{
color: black;    
}

// tipografia de profile
.usuario__name{
    font-family: $titulo-videos;
    font-size: 1.875em;
}
.usuario__seguidores{
    @include texto;
}

// tipografia de videos
.videos__titulo{
    text-align: center;
    padding: 1.25rem 0px;
    @include titulo;
    font-size: 1.5625rem;
}
h3{
    @include titulo;
    padding: 0.625rem 0px;
}
.seguidores{
    @include texto;
    padding: 0.625rem 0px 1.25rem 0px;
}

// aplicar media queries
@media only screen and (min-width: 768px) and (max-width: 1980px){
    .videos__titulo{
        text-align: start;
        padding: 3.75rem 0px;
    }
}