/*variables de tipografia y color*/

// typography family
$titulo-videos: 'MuseoModerno', cursive;


// weight typography
$texto-seguidores: 300;
$video-titulos: 800;
$logo-weight: 600;

// color de button
$boton-1: #a6dcef;
$boton-2: #e7305b;